{% extends 'base2.html' %}
{% load static %}

{% block content %}

<style>
.row,
.row > .column {
  padding: 8px;
}
 .row:after {
  content: "";
  display: table;
  clear: both;
}  
.column {
  float: left;
 
  display: none; /* Hide columns by default */
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
</style>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

    
    
 
    <section class="bg-white py-8">

        <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

            <nav id="store" class="w-full z-30 top-0 px-6 py-1">
                <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">

                    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl " href="#">
				음식물 쓰레기 건조기 (가정용) - 목록 페이지
			</a>

                    <div class="flex items-center" id="store-nav-content">

                        <a class="pl-3 inline-block no-underline hover:text-black" href="#">
                            <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
                            </svg>
                        </a>

                        <a class="pl-3 inline-block no-underline hover:text-black" href="#">
                            <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z" />
                            </svg>
                        </a>

                    </div>
              </div>
              <h2>필터</h2>
              <div id="myBtnContainer">
                <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                <button class="btn" onclick="filterSelection('m1')"> 마트형</button>
                <button class="btn" onclick="filterSelection('m2')"> 일반형</button>
                <button class="btn" onclick="filterSelection('m3')"> 플러스형</button>
              </div>
            </nav>

            <div class="w-1/6 p-6 flex flex-col row">
                <div class="column m1 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/1.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">마트형</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m1 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/2.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">마트형2</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m2 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/3.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">일반형</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m2 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/4.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">일반형2</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m2 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/5.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">일반형3</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m2 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/6.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">일반형4</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m3 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/7.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">플러스형</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m3 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/8.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">플러스형</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m3 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/9.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">플러스형</p>
                </a>
                    </div>
                </div>
            </div>
            <div class="w-1/6 p-6 flex flex-col">
                <div class="column m3 content">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="{% static 'img/gs/c/10.JPG' %}">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="text-sm">플러스형</p>
                </a>
                    </div>
                </div>
            </div>

    </section>

  

</body>
<script>
    filterSelection("all") // Execute the function and show all columns
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

{% endblock %}