{% extends 'base2.html' %}
{% load static %}

{% block content %}


<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex w-full mb-20 flex-wrap">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">gsuniclena 토양 및 수질 개선제입니다.</h1>
        <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">수차례 실험을 통해 여러 오염물질(돈분, 염분, 계분, 바이오오일 찌꺼기 등)의 정화 실험에 성공하였습니다. 자세한 정보와 가격, 사용방법은 오른쪽 전화번호를 통해서 문의해 주시기 바랍니다. 010-2775-2100</p>
      </div>
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="{% static 'img/gs/f/2.jpg' %}">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="{% static 'img/gs/f/7.jpg' %}">
          </div>
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="{% static 'img/gs/f/4.jpg' %}">
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="{% static 'img/gs/f/11.jpg' %}">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="{% static 'img/gs/f/13.jpg' %}">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="{% static 'img/gs/f/16.jpg' %}">
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}