{%load static %}
<section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">친환경 자원화 제품</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">거성 에코텍의 스마트 자원화 시스템을 통해 탄생된 친환경 자원화 제품입니다!</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="{% static 'image/p/1.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">가정용</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">음식물 쓰레기 처리기 </h1>
              <p class="leading-relaxed">4~5인용</p>
              <p class="">&#8361;0원</p>
              <p class="">하루 처리량 -/-L</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="{% static 'image/p/11.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">기업용</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">음식물 쓰레기 처리기 </h1>
              <p class="leading-relaxed">100인용</p>
              <p class="">&#8361;0원</p>
              <p class="">하루 처리량 -/-L</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-contain" src="{% static 'image/p/3.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">친환경 제품 </h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">자원화 벽돌 </h1>
              <p class="leading-relaxed">친환경 자원화 순환 시스템으로 만든 벽돌</p>
              <p class="">&#8361;0원</p>
              <p class="">재료</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-contain" src="{% static 'image/p/5.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">친환경 제품 </h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">자원화 LED</h1>
              <p class="leading-relaxed">친환경 자원화 순환 시스템으로 만든 LED</p>
              <p class="">&#8361;0원</p>
              <p class="">상세사항</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-contain" src="{% static 'image/p/9.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">친환경 제품 </h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">수질/토질 개선제</h1>
              <p class="leading-relaxed">자원화 순환 시스템으로 만든 수질/토질 개선제 </p>
              <p class="">&#8361;0원</p>
              <p class="">돈분처리, 토양 염분제거 등</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-contain" src="{% static 'image/p/2.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">친환경 제품 </h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">자원화 판재</h1>
              <p class="leading-relaxed">친환경 자원화 순환 시스템으로 만든 판재</p>
              <p class="">&#8361;0원</p>
              <p class="">재료</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>