{% load static %}
<section class="text-gray-600 body-font">
    <div class="container px-5 mb-16 mx-auto flex flex-col">
      <div class="lg:w-4/6 mx-auto">
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/2 text-center sm:pr-8 sm:py-8">
            
            <div class="flex flex-col items-center text-center justify-center bg-video">
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="{% static 'img/gs/vi/1.mp4' %}" type="video/mp4">
                </video>
              <p class="text-base">대한민국 최초 열풍방식 음식물쓰레기 처리기 | 2008 대한민국 발명특허 동상 수상</p>
            </div>
          </div>
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left self-center">
            <p class="leading-relaxed text-lg mb-4">2008 대한민국 발명특허 동상 수상당시 영상입니다. 거성에코텍은 친환경 기업으로 지구 환경 보존을 위해 지속적으로 연구 개발에 힘쓰고 있습니다.</p>
            
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>